
/*Setting charset pattern*/
@charset "utf-8";

/*Importing specific google text-font/family*/
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap');

body {
	font-family: 'Rajdhani', sans-serif;
	font-size: 1em;
	font-weight: 400;
}

h1{
	color: #c8bfb6;
}

.homeTxt {
	
	margin-left: 1em;
}

.button1{
	text-decoration: none;
	background-color: #c8bfb6;
	margin: 0 1.5em;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius:5px;
	border: none;
	cursor: pointer;
}

.button2{
	text-decoration: none;
	background-color: #d51213;
	margin: 0 1.5em;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius:5px;
	border: none;
	cursor: pointer;
}

a:hover{
	
	background-color: black;
	color: #fff;
	
}

.box1 {
	width: 320px;
	padding:5px;
	margin-bottom:10px;
	border:1px solid #c8bfb6;
	border-radius: 5px;
}

.box2 {

	padding:5px;
	margin-bottom:10px;
	border:1px solid #c8bfb6;
	border-radius: 5px;
}

#box3{
	padding:5px;
	margin-bottom:10px;
	border:2px solid red;
	border-radius: 5px;

}

#table {
	margin-top: 30px;
	border-collapse: collapse;
}

#table th {
	border: 2px solid #ddd;
	padding: 10px;
	text-align: center;
	background-color: #c8bfb6;
	color: #fff;
}

#table td{
	border: 2px solid #ddd;
	padding: 10px;
	
}

td.id{
	border: 2px solid #ddd;
	padding: 10px;
	text-align: center;
	background-color: #c8bfb6;
	color: #fff;
	
}
